TOKEN = ''
DEBUG = False # NOTE: to logs all commands executed by user

OwnerID = 
MainServerID =
Status = 'tee-hee' # NOTE: bot status
db_config = {
    'host': '',
    'user': '',
    'password': '',
    'db': ''
}

# XXX: for osu bancho.py based servers
Bancho = ''
BanchoApiKey = '' # shouldnt needed? only for calculate_pp and it hasnt implemented

# XXX: fun
ownercheckmotd = [
    "https://www.youtube.com/watch?v=_tYbmNb4VVQ",
    "https://www.youtube.com/watch?v=4QDG2BWxLdE",
    "https://www.youtube.com/watch?v=qlI-HrohYtQ",
    "https://www.youtube.com/watch?v=8GeB7xZqJ48",
    "https://www.youtube.com/watch?v=ML_SkKyZLbA",
    "https://www.youtube.com/watch?v=U09UQ4TXNEQ",
    "https://youtu.be/766qmHTc2ro?si=Pjiq8VIjV22AJtdG"
]

lastfm = '' # https://www.last.fm/api/account/create

# AIs
use_start_prompt = True
starting_prompt_id = 0 # starting message channel id (can be None)
MODEL = 'claude-3.5-sonnet' # default model